<%
const wenzhangfenlei = list_categories({show_count: false});
const tagsList = list_tags({show_count: false});
const archivesList = list_archives({show_count: false});
%>

<span>
    <% if (is_year() === false) { %>
        <% if (wenzhangfenlei !== "") { %>
            <br>
            <h2><%- wenzhangfenlei %></h2>
            <br/>
        <% } %>
    <% } else { %>
        <p><%= page.month + '/' + page.year %></p>
        <table>
            <tbody>
            <% page.posts.each(wenzhang => { %>
                <tr>
                    <td>
                        <a href="<%= url_for(wenzhang.path) %>">
                            <%= wenzhang.title %>
                        </a>
                    </td>
                    <td>
                        <time datetime="<%= date_xml(wenzhang.date) %>">
                            <%= date(wenzhang.date) %>
                        </time>
                    </td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    <% } %>
</span>
