<!-- 点击文章 -->
<div class="wenzhang-container">
  <h1 class="title is-3 is-4-mobile"><%-page.title%></h1>
  <wenzhang>
      <div class="contents">
        <%- toc(page.content, {list_number:false}) %>
      </div>
      <%-page.content%>
      <div id="lv-container" data-id="city" data-uid="MTAyMC80NTk3NS8yMjQ4Ng==">
  <script type="text/javascript">
     (function(d, s) {
         var j, e = d.getElementsByTagName(s)[0];
  
         if (typeof LivereTower === 'function') { return; }
  
         j = d.createElement(s);
         j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
         j.async = true;
  
         e.parentNode.insertBefore(j, e);
     })(document, 'script');
  </script>
  <noscript>Please activate JavaScript for write a comment in LiveRe</noscript>
  </div>
      <!-- 博客链接 -->
      <p class="copyright"><strong>
        作者: 我叫史迪奇
        <br>
        本文来自于: 
         <a href="<%-page.permalink%>"><%-page.permalink%></a>博客内容遵循 署名-非商业性使用-相同方式共享 4.0 国际 (CC BY-NC-SA 4.0) 协议</strong></p>
  </wenzhang>
</div>




