<!-- 点击文章 -->
<div class="wenzhang-container">
  <wenzhang>
    <span class="frosted_glass"><h1 class="title is-3 is-4-mobile"><%-page.title%></h1>

      <div class="contents">
        <%- toc(page.content, {list_number:false}) %>
      </div>
      <%-page.content%> </span> 
      <div id="lv-container" data-id="city" data-uid="MTAyMC80NTk3NS8yMjQ4Ng==">
  </wenzhang>
</div>


<body>
  <!-- ... -->
  <div id="waline"></div>
  <script>
    Waline.init({
      el: '#waline',
      serverURL: 'https://comments.sdq3.ml/',
    });
  </script>
  

<!-- 评论系统 -->

<!-- <iframe src="/waline.html" frameborder="0" id="Text-iframe" ></iframe> -->

</body>  
<div>
      <!-- 博客链接 -->
      <p class="copyright"><strong>
        作者: 我叫史迪奇
        <br>
        本文来自于: 
         <a href="<%-page.permalink%>"><%-page.permalink%></a>博客内容遵循 署名-非商业性使用-相同方式共享 4.0 国际 (CC BY-NC-SA 4.0) 协议</strong></p>
</div>   
